@model List<ScopoMFinance.Domain.ViewModels.Policy.BranchListViewModel>
@{
    ViewBag.Title = "Branch Setup";
}

<nav class="nav-breadcrumb">
    <div class="nav-wrapper blue-grey darken-3">
        <div class="col s12">
            @Html.ActionLink("Branch List", "Index", new { area = "HO", controller = "Branch" }, new { @class = "breadcrumb" })

            @{Html.RenderPartial("_UserInfo");}
        </div>
    </div>
</nav>

<div class="row">
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li>
                <a href="@Url.Action("Edit", "Branch", new { area = "HO" })" 
                   class="btn-floating red tooltipped" 
                   data-position="left" data-tooltip="Create Branch" data-delay="0">
                    <i class="material-icons">mode_edit</i>
                </a>
            </li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
    </div>
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Branch List</span>
                <table class="bordered striped responsive-table centered">
                    <thead>
                        <tr>
                            <th>@Html.SortableHeaderActionLink(Html.DisplayNameFor(model => model.FirstOrDefault().Name), "Index", null, null, null, 0)</th>
                            <th>@Html.SortableHeaderActionLink(Html.DisplayNameFor(model => model.FirstOrDefault().OpenDate), "Index", null, null, null, 1)</th>
                            <th>@Html.SortableHeaderActionLink(Html.DisplayNameFor(model => model.FirstOrDefault().IsHeadOffice), "Index", null, null, null, 2)</th>
                            <th>@Html.SortableHeaderActionLink(Html.DisplayNameFor(model => model.FirstOrDefault().Status), "Index", null, null, null, 3)</th>
                            <th>@Html.SortableHeaderActionLink(Html.DisplayNameFor(model => model.FirstOrDefault().OrgCount), "Index", null, null, null, 4)</th>
                            <th>@Html.SortableHeaderActionLink(Html.DisplayNameFor(model => model.FirstOrDefault().COCount), "Index", null, null, null, 5)</th>
                            <th>@Html.SortableHeaderActionLink(Html.DisplayNameFor(model => model.FirstOrDefault().ProjectCount), "Index", null, null, null, 6)</th>
                            <th>@Html.SortableHeaderActionLink(Html.DisplayNameFor(model => model.FirstOrDefault().UserCount), "Index", null, null, null, 7)</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.OpenDate.ToShortDateString()</td>
                                    <td>
                                        @if (item.IsHeadOffice)
                                        {
                                            <i class="small material-icons green-text text-darken-1">done</i>
                                        }
                                        else
                                        {
                                            <i class="small material-icons deep-orange-text">clear</i>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Status)
                                        {
                                            <i class="small material-icons green-text text-darken-1">done</i>
                                        }
                                        else
                                        {
                                            <i class="small material-icons deep-orange-text">clear</i>
                                        }
                                    </td>
                                    <td>@item.OrgCount</td>
                                    <td>@item.COCount</td>
                                    <td>@item.ProjectCount</td>
                                    <td>@item.UserCount</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>