@using System.Collections.Specialized
@{
    int random = (new Random()).Next();
}
<div class="modal-dialog" id="Dialog_@(random)">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">@((string)ViewData["label"])</h4>
        </div>
        <div>
            @using (Ajax.BeginForm((string)ViewData["actionName"], (string)ViewData["controllerName"],
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        UpdateTargetId = (string)ViewData["controllerName"] + "-" + (string)ViewData["actionName"] + "-container"
                    }))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()


                var queryString = ViewData["queryString"] as NameValueCollection;
                if (queryString != null && queryString.Count > 0)
                {
                    foreach (var key in queryString.AllKeys)
                    {
                        <input type="hidden" name="@key" value="@queryString[key]" />
                    }
                }


                <div class="modal-body">
                    <p>@Html.Raw((string)ViewData["dialogText"])</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@CommonStrings.Confirmation_Modal_No_Button</button>
                    <button class="btn btn-primary __Submit" data-loading-text="@CommonStrings.Confirmation_Modal_Working" type="submit">@CommonStrings.Confirmation_Modal_Yes_Button</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $('#Dialog_@(random)').parent().modal("show");
</script>