<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ScopoMFinance</title>
    <!-- HTML5 shim and Respond.js for < IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Styles.Render("~/Content/basestyle")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body class="menu-top menu-top-compact theme-blue menu-static colorful-enabled">
    <nav class="left-menu" left-menu>
        <div class="logo-container">
            <a href="index.html" class="logo">
                <img src="~/Content/assets/common/img/logo.png" alt="ScopoMFinance" />
                <img class="logo-inverse" src="~/Content/assets/common/img/logo-inverse.png" alt="ScopoMFinance" />
            </a>
        </div>
        <div class="left-menu-inner scroll-pane">
            <ul class="left-menu-list left-menu-list-root list-unstyled">
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole(ScopoMFinance.Core.Common.AppRoles.SuperUser))
                    {
                        @Html.Partial("_MenuSuperUser")
                    }
                    if (User.IsInRole(ScopoMFinance.Core.Common.AppRoles.BranchManager))
                    {
                        @Html.Partial("_MenuBranchManager")
                    }
                    if (User.IsInRole(ScopoMFinance.Core.Common.AppRoles.BranchUser))
                    {
                        @Html.Partial("_MenuBranchUser")
                    }
                    if (User.IsInRole(ScopoMFinance.Core.Common.AppRoles.AreaCoordinator))
                    {
                        @Html.Partial("_MenuAreaCoordinator")
                    }
                }
            </ul>
        </div>
    </nav>

    <nav class="top-menu">
        <div class="menu-icon-container hidden-md-up">
            <div class="animate-menu-button left-menu-toggle">
                <div><!-- --></div>
            </div>
        </div>
        <div class="menu">
            <!-- Login User Information -->
            @Html.Partial("_UserInfo")

            <div class="menu-info-block">
                <div class="left">
                    <div class="header-buttons">
                        <div class="dropdown">
                            <a href="javascript: void(0);" class="dropdown-toggle dropdown-inline-button" data-toggle="dropdown" aria-expanded="false">
                                <i class="dropdown-inline-button-icon icmn-database"></i>
                                <span class="hidden-lg-down">Dashboards</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="" role="menu">
                                <div class="dropdown-header">Active</div>
                                <a class="dropdown-item" href="javascript:void(0)">Project Management</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon icmn-cog"></i> Settings</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="page-content">
        <div class="page-content-inner">
            @RenderBody()
        </div>
    </section>

    <div class="main-backdrop"><!-- --></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Html.Partial("_CommonSystemMessages")
    @Html.Partial("_CommonScripts")

    @RenderSection("scripts", required: false)
</body>
</html>