@model ScopoMFinance.Domain.ViewModels.Product.ProductTypeSetupViewModel

@Html.HiddenFor(model => model.Id)

<div class="form-group row">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group row">
    @Html.LabelFor(m => m.IsActive, new { @class = "col-md-3 control-label" })
    <div class="col-md-1">
        @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IsActive, "", new { @class = "text-danger" })
    </div>
</div>


